::selection {
  background: #c00;
  color: #fff;
  text-shadow: rgba(255, 255, 255, 0.3) 1px 1px; }

::-moz-selection {
  background: #c00;
  color: #fff;
  text-shadow: rgba(255, 255, 255, 0.3) 1px 1px; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

body {
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Lato'; }

.wrapper {
  width: 960px;
  margin: 0 auto; }

.header {
  margin-top: 40px;
  margin-bottom: 20px; }

.content {
  width: 960px;
  float: left;
  margin-bottom: 30px; }
  .content ul {
    padding: 0 70px; }
  .content ol {
    padding: 0 70px; }
  .content p {
    padding: 0 70px; }
  .content .highlight {
    padding: 0 70px; }

a {
  color: #c00;
  text-decoration: none;
  font-weight: normal; }

.me-links {
  list-style: none;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
  .me-links li {
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; }

.me-link {
  display: inline-block;
  line-height: 1;
  margin: 0 16px;
  color: #000;
  text-decoration: none;
  -moz-transition: color 0.25s;
  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s; }
  .me-link:hover {
    color: #c00; }

.logo {
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  text-decoration: none;
  color: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
  .logo .slim {
    font-weight: normal;
    display: inline; }
  .logo .bold {
    font-weight: bolder;
    display: inline;
    -moz-transition: color 0.25s;
    -webkit-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s; }
  .logo:hover .bold {
    color: #c00; }

.nav {
  list-style: none;
  text-transform: uppercase;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: lighter; }
  .nav li {
    display: inline-block; }

.nav-item {
  color: #000;
  margin-right: 16px; }
  .nav-item:hover {
    color: #c00; }

.wip {
  width: 960px;
  margin: 60px auto 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.wip-image {
  margin: 0 auto;
  width: 292px;
  height: 184px;
  display: block;
  background-color: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.wip-description {
  font: 100 60px/1.5 "Lato", sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text; }

.wip-back-home {
  text-align: center;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text; }

.projects {
  list-style: none;
  padding: 0; }

.project-item a {
  margin-left: 6px; }

.projects .project-content {
  margin-bottom: 20px; }

.project-link {
  margin-right: 35px; }

.project-content img {
  margin: 0 auto;
  display: block; }

.project-content h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal; }

.project-content ul {
  padding: 0 70px; }
.project-content ol {
  padding: 0 70px; }
.project-content p {
  padding: 0 70px; }
.project-content .highlight {
  padding: 0 70px; }
.project-content ul, .project-content ol {
  list-style-position: inside; }
.project-content ul {
  list-style-type: none; }
  .project-content ul li:before {
    content: '-';
    display: inline-block;
    margin-left: -16px;
    width: 16px; }
  .project-content ul li {
    padding-left: 16px; }

.project-content pre {
  padding: 12px;
  font-size: 13px;
  font-family: "Inconsolata", monospace;
  border: 1px solid #cc0000;
  border-color: rgba(204, 0, 0, 0.5);
  overflow-x: auto;
  white-space: pre;
  border-radius: 3px;
  background-color: #fcf9f9; }

.highlight {
  background: #ffffff; }

.highlight .c {
  color: #999988;
  font-style: italic; }

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

.highlight .k {
  font-weight: bold; }

.highlight .o {
  font-weight: bold; }

.highlight .cm {
  color: #999988;
  font-style: italic; }

.highlight .cp {
  color: #999999;
  font-weight: bold; }

.highlight .c1 {
  color: #999988;
  font-style: italic; }

.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

.highlight .ge {
  font-style: italic; }

.highlight .gr {
  color: #aa0000; }

.highlight .gh {
  color: #999999; }

.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

.highlight .go {
  color: #888888; }

.highlight .gp {
  color: #555555; }

.highlight .gs {
  font-weight: bold; }

.highlight .gu {
  color: #aaaaaa; }

.highlight .gt {
  color: #aa0000; }

.highlight .kc {
  font-weight: bold; }

.highlight .kd {
  font-weight: bold; }

.highlight .kp {
  font-weight: bold; }

.highlight .kr {
  font-weight: bold; }

.highlight .kt {
  color: #445588;
  font-weight: bold; }

.highlight .m {
  color: #009999; }

.highlight .s {
  color: #cc0000; }

.highlight .na {
  color: teal; }

.highlight .nb {
  color: #0086b3; }

.highlight .nc {
  color: #445588;
  font-weight: bold; }

.highlight .no {
  color: teal; }

.highlight .ni {
  color: purple; }

.highlight .ne {
  color: #990000;
  font-weight: bold; }

.highlight .nf {
  color: #990000;
  font-weight: bold; }

.highlight .nn {
  color: #555555; }

.highlight .nt {
  color: navy; }

.highlight .nv {
  color: teal; }

.highlight .ow {
  font-weight: bold; }

.highlight .w {
  color: #bbbbbb; }

.highlight .mf {
  color: #009999; }

.highlight .mh {
  color: #009999; }

.highlight .mi {
  color: #009999; }

.highlight .mo {
  color: #009999; }

.highlight .sb {
  color: #cc0000; }

.highlight .sc {
  color: #cc0000; }

.highlight .sd {
  color: #cc0000; }

.highlight .s2 {
  color: #cc0000; }

.highlight .se {
  color: #cc0000; }

.highlight .sh {
  color: #cc0000; }

.highlight .si {
  color: #cc0000; }

.highlight .sx {
  color: #cc0000; }

.highlight .sr {
  color: #009926; }

.highlight .s1 {
  color: #cc0000; }

.highlight .ss {
  color: #990073; }

.highlight .bp {
  color: #999999; }

.highlight .vc {
  color: teal; }

.highlight .vg {
  color: teal; }

.highlight .vi {
  color: teal; }

.highlight .il {
  color: #009999; }

.intro {
  font-family: "Open Sans", sans-serif; }

.posts {
  list-style: none;
  padding: 0; }

.post-item .post-date {
  float: right;
  text-transform: uppercase;
  font-size: 15px;
  padding-top: 2px; }

.post-content {
  margin-bottom: 20px; }

.project-link {
  margin-right: 35px; }

.post-content img {
  margin: 0 auto;
  display: block; }

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal; }

.post-content ul, .post-content ol {
  list-style-position: inside; }
.post-content ul {
  list-style-type: none; }
  .post-content ul li:before {
    content: '-';
    display: inline-block;
    margin-left: -16px;
    width: 16px; }
  .post-content ul li {
    padding-left: 16px; }

.post-content pre {
  padding: 12px;
  font-size: 13px;
  font-family: "Inconsolata", monospace;
  border: 1px solid #cc0000;
  border-color: rgba(204, 0, 0, 0.5);
  overflow-x: auto;
  white-space: pre;
  border-radius: 3px;
  background-color: #fcf9f9; }

.post-content p > code {
  display: inline-block;
  padding: 2px;
  font-size: 13px;
  font-family: "Inconsolata", monospace;
  white-space: pre;
  background-color: #fcf9f9;
  border: 1px solid #cc0000;
  border-color: rgba(204, 0, 0, 0.5);
  border-radius: 3px; }

.twitter-tweet {
  margin-left: auto !important;
  margin-right: auto !important; }
