<div class="header">
  <ul class="me-links pull-right">
    <li><a class="me-link ss-octocat" href="https://github.com/Juanxo" target="_blank"></a></li>
    <li><a class="me-link ss-twitter" href="https://twitter.com/jguerrero_" target="_blank"></a></li>
    <li><a class="me-link ss-linkedin" href="http://linkedin.com/in/juanguerrerolozano" target="_blank"></a></li>
    <li><a class="me-link ss-stackoverflow" href="http://stackoverflow.com/users/1009119/juan-guerrero" target="_blank"></a></li>
    <li><a class="me-link ss-delicious" href="https://delicious.com/juanxo" target="_blank"></a></li>
  </ul>
  <a href="/" class="logo">
    <h1 class="slim">Juan</h1>
    <h1 class="bold">Guerrero</h1>
  </a>
  <ul class="nav">
    <li><a class="nav-item" href="/about.html">about</a></li>
    <li><a class="nav-item" href="/projects.html">projects</a></li>
    <li><a class="nav-item" href="/talks.html">talks</a></li>
  </ul>

</div>

