@import "base";

.nav {
  list-style: none;
  text-transform: uppercase;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;

  li {
    display: inline-block;
  }
}

.nav-item {
  color: #000;
  margin-right: 16px;

  &:hover {
    color: #c00;
  }
}
