@import "base";

.posts {
  list-style: none;
  padding: 0;
}

.post-item .post-date {
  float: right;
  text-transform: uppercase;
  font-size: 15px;
  padding-top: 2px;
}

.post-content {
  margin-bottom: 20px;
}

.project-link {
  margin-right: 35px;
}

.post-content img {
  margin: 0 auto;
  display: block;
}

.post-content {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
  }
}

.post-content {

  ul, ol {
    list-style-position: inside;
  }

  ul {
    list-style-type: none;

    // Add hyphen as list marker
    li:before {
      content: '-';
      display: inline-block;
      margin-left: -16px;
      width: 16px;
    }

    li {
      padding-left: 16px;
    }
  }
}

.post-content pre {
  padding: 12px;
  font-size: 13px;
  font-family: 'Inconsolata', monospace;
  border: 1px solid #c00;
  border-color: rgba(#c00, 0.5);
  overflow-x: auto;
  white-space: pre;
  border-radius: 3px;
  background-color: #fcf9f9;
}

// Inline code
.post-content p > code {
  display: inline-block;
  padding: 2px;
  font-size: 13px;
  font-family: 'Inconsolata', monospace;
  white-space: pre;
  background-color: #fcf9f9;
  border: 1px solid #c00;
  border-color: rgba(#c00, 0.5);
  border-radius: 3px;
}

// This should be moved to its own css
.twitter-tweet {
  margin-left: auto !important;
  margin-right: auto !important;
}
