@import "base";

.projects {
  list-style: none;
  padding: 0;
}

.project-item a {
  margin-left: 6px;
}

.projects .project-content {
  margin-bottom: 20px;
}

.project-link {
  margin-right: 35px;
}
