<!DOCTYPE html>
<html>
  <head>
  {% if page.title %}
    <title>Juan Guerrero - {{ page.title | capitalize }}</title>
  {% else %}
    <title>Juan Guerrero</title>
  {% endif %}
  <link rel="stylesheet" type="text/css" href="/css/vendor/normalize.css"/>
  <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/fonts/ss-social-regular.css"/>
  <link rel="stylesheet" type="text/css" href="/css/vendor/font-awesome/font-awesome.css"/>
  <link rel="stylesheet" type="text/css" href="/css/juan-guerrero.css"/>
  </head>
  <body id="{{ page.class }}">
    <div class="wrapper">
      <div class="header">
        <ul class="me-links pull-right">
          <li><a class="me-link ss-octocat" href="https://github.com/Juanxo" target="_blank"></a></li>
          <li><a class="me-link ss-twitter" href="https://twitter.com/jguerrero_" target="_blank"></a></li>
          <li><a class="me-link ss-linkedin" href="http://linkedin.com/in/juanguerrerolozano" target="_blank"></a></li>
          <li><a class="me-link ss-stackoverflow" href="http://stackoverflow.com/users/1009119/juan-guerrero" target="_blank"></a></li>
          <li><a class="me-link ss-delicious" href="https://delicious.com/juanxo" target="_blank"></a></li>
        </ul>
        <a href="/" class="logo">
          <h1 class="slim">Juan</h1>
          <h1 class="bold">Guerrero</h1>
        </a>
        <ul class="nav">
          <li><a class="nav-item" href="/about.html">about</a></li>
          <li><a class="nav-item" href="/projects.html">projects</a></li>
          <li><a class="nav-item" href="/talks.html">talks</a></li>
        </ul>

      </div>
      <div class="content">
        {{ content }}
      </div>

    </div>
  </body>
</html>
