<!DOCTYPE html>
<html>
  <head>
  {% if page.title %}
    <title>Juan Guerrero - {{ page.title | capitalize }}</title>
  {% else %}
    <title>Juan Guerrero</title>
  {% endif %}
  <link rel="stylesheet" type="text/css" href="/css/vendor/normalize.css"/>
  <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/fonts/ss-social-regular.css"/>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/vendor/font-awesome/font-awesome.css"/>
  <link rel="stylesheet" type="text/css" href="/css/juan-guerrero.css"/>
  </head>
  <body id="{{ page.class }}">
    <div class="wrapper">
      {% include header.html %}
      <div class="project-content content">
        {{ content }}
      </div>

    </div>
  </body>
</html>
