<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/vendor/normalize.css"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/juan-guerrero.css"/>
  </head>
  <body>
    <div class="wip">
      <img class="wip-image" src="/images/wip.png" />
      <p class="wip-description">Work in progress</p>
      <div class="wip-back-home">
        <a href="/">Home</a>
      </div>
    </div>
  </body>
</html>
